.container{
    padding: 10px 10%;
}

#header{
   margin: 0;
   width: 100vw;
   max-height: max-content;
}

.imgbox{
    width: auto;
    right: 0;
    z-index: -1;
    height: 740px;
    display: flex;
    justify-content: end;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 0.7s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem
}
.cont{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 2rem;
    cursor: default;
    animation: slideRight 2s ease forwards;
    opacity: 0;
}

.logo h1 span{
    color: var(--main-color);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    animation: slideLeft 2s ease forwards;
    opacity: 0;
}


nav ul li a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: bold;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color: #ff004c;
}
nav ul{
    flex: 1;
    text-align: right;
}
#icon{
    width: 30px;
    cursor: pointer;
}

.header-text{
   max-width: 37rem;
   margin-bottom: 80px;
   margin-left: 7rem;
}

.header-text h3{
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.4s;
}

.header-text h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.8;
}

.header-text h3 span{
    color: var(--main-color);
}

.image{
    width: 20px;
    display: none;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px){
    .header-text{
        max-width: 37rem;
    margin-bottom: 80px;
    margin-left: 7rem;
    }
    .header-text h3{
        font-size: 2rem;
    }
    
    .header-text h1{
        font-size: 3.5rem;
    }
    .image{
        display: block;
        font-size: 25px;
        fill: var(--primary-color);
    }
    nav ul{
        background: #cc003f91;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.8s;
    }
    nav ul li{
       display: flex;
       margin: 25px;
       justify-content: center;
       align-items: center;
    }
    nav ul .image{
        position: absolute;
        cursor: pointer;
        top: 25px;
        left: 25px;
    }
} 


@media only screen and (max-width: 1000px) and (min-width: 760px){
    .imgbox{
        height: 500px;
    } 
    .header-text h3{
        font-size: 1.5rem;
    }
    
    .header-text h1{
        font-size: 2.5rem;
    }
    .logo h1{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 760px) and (min-width: 500px){
    .imgbox{
        height: 280px;
    } 
    .header-text h3{
        font-size: 1rem;
    }
    
    .header-text h1{
        font-size: 1.9rem;
    }
    .logo h1{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px){
    .imgbox{
        height: 240px;
        border-radius: 149px;
        border-color: var(--primary-color);
    } 
    .header-text h3{
        font-size: 1.4rem;
    }
    
    .header-text h1{
        font-size: 3rem;
    }
    .logo h1{
        font-size: 1.7rem;
    }
    .cont{
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 78px;
    }
    .header-text{
        max-width: 37rem;
        margin-bottom: 17px;
        margin-left: 0rem;
        margin-top: 53px;
    }
    .imgbox img{
        height: 250px;
        width: 270px;
        border-radius: 50%;
        border: var(--primary-color);
        border-width: 118px;
        border: solid;
    }

    nav{
        margin-bottom: 30px;
    }
}